<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"
/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>
<body>
<div class="prof_head">
    <!--back button -->
    <a href="#"><i class="ri-arrow-left-fill"></i></a>

    <h2 class="profile-header">PROFILE</h2>

</div>  

<!-- body of the profile page -->
<div class="profile_body">
   <div class="left_pro">
    <img class="profile_pic" src="/images/agency.jpg" alt="PROFILE IMAGE">
</div>

<div class="right_pro">

<div class="name">
    <h2>NAME</h2>
    <h5>abiram</h5>
</div>

<div class="uname">
    <h2>USERNAME</h2>
    <h5>abiram66</h5>
</div>

<div class="gender">
    <h2>GENDER</h2>
    <h5>M</h5>
</div>

<div class="d-o-b">
    <h2>DATE OF BIRTH</h2>
    <h5>Lorem, ipsum dolor.</h5>
</div>

<div class="phone_no">
    <h2>PHONE  NUMBER</h2>
    <h5>1234567890</h5>
</div>

<div class="password">
    <h2>PASSWORD</h2>
    <h5>**********</h5>
</div>

<div class="email_id">
    <h2>EMAIL ID</h2>
    <h5>asfjdhshj@gmail.com</h5>
</div>

<div class="address">
    <h2>ADDRESS</h2>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing.</h5>
</div>
</div>




</div>
<button type="button" class="btn btn-primary">EDIT PROFILE</button>
</body>
</html>